In [45]:
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

In [46]:
aapl_cul_returns_path = Path('Data/aapl_cumulative_returns.csv')
amzn_cul_returns_path = Path('Data/amzn_cumulative_returns.csv')
fb_cul_returns_path = Path('Data/fb_cumulative_returns.csv')
msft_cul_returns_path = Path('Data/msft_cumulative_returns.csv')
nflx_cul_returns_path = Path('Data/nflx_cumulative_returns.csv')
tsla_cul_returns_path = Path('Data/tsla_cumulative_returns.csv')
wmt_cul_returns_path = Path('Data/wmt_cumulative_returns.csv')
spy_cul_returns_path = Path('Data/spy_cumulative_returns.csv')

In [47]:
aapl_cul_returns_csv = pd.read_csv(aapl_cul_returns_path)
aapl_cul_returns_csv = aapl_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
amzn_cul_returns_csv = pd.read_csv(amzn_cul_returns_path)
amzn_cul_returns_csv = amzn_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
fb_cul_returns_csv = pd.read_csv(fb_cul_returns_path)
fb_cul_returns_csv = fb_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
msft_cul_returns_csv = pd.read_csv(msft_cul_returns_path)
msft_cul_returns_csv = msft_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
nflx_cul_returns_csv = pd.read_csv(nflx_cul_returns_path)
nflx_cul_returns_csv = nflx_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
tsla_cul_returns_csv = pd.read_csv(tsla_cul_returns_path)
tsla_cul_returns_csv = tsla_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
wmt_cul_returns_csv = pd.read_csv(wmt_cul_returns_path)
wmt_cul_returns_csv = wmt_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])
spy_cul_returns_csv = pd.read_csv(spy_cul_returns_path)
spy_cul_returns_csv = spy_cul_returns_csv.drop(columns=['Unnamed: 0','mean'])

In [48]:
aapl_cul_returns_csv = aapl_cul_returns_csv.rename(columns={'median':'AAPL median',
                                     'min':'AAPL min',
                                     'max':'AAPL max'})
amzn_cul_returns_csv = amzn_cul_returns_csv.rename(columns={'median':'AMZN median',
                                     'min':'AMZN min',
                                     'max':'AMZN max'})
fb_cul_returns_csv = fb_cul_returns_csv.rename(columns={'median':'FB median',
                                     'min':'FB min',
                                     'max':'FB max'})
msft_cul_returns_csv = msft_cul_returns_csv.rename(columns={'median':'MSFT median',
                                     'min':'MSFT min',
                                     'max':'MSFT max'})
nflx_cul_returns_csv = nflx_cul_returns_csv.rename(columns={'median':'NFLX median',
                                     'min':'NFLX min',
                                     'max':'NFLX max'})
tsla_cul_returns_csv = tsla_cul_returns_csv.rename(columns={'median':'TSLA median',
                                     'min':'TSLA min',
                                     'max':'TSLA max'})
wmt_cul_returns_csv = wmt_cul_returns_csv.rename(columns={'median':'WMT median',
                                     'min':'WMT min',
                                     'max':'WMT max'})
spy_cul_returns_csv = spy_cul_returns_csv.rename(columns={'median':'SPY median',
                                     'min':'SPY min',
                                     'max':'SPY max'})

In [50]:
all_cul_returns = pd.concat([aapl_cul_returns_csv,
                             amzn_cul_returns_csv,
                             fb_cul_returns_csv,
                             msft_cul_returns_csv,
                             nflx_cul_returns_csv,
                             tsla_cul_returns_csv,
                             wmt_cul_returns_csv,
                             spy_cul_returns_csv],join='inner',axis=1)

all_cul_returns.head()

,AAPL median,AAPL min,AAPL max,AMZN median,AMZN min,AMZN max,FB median,FB min,FB max,MSFT median,...,NFLX max,TSLA median,TSLA min,TSLA max,WMT median,WMT min,WMT max,SPY median,SPY min,SPY max
0,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
1,10010.408437,9271.803642,10679.644603,10021.930585,9353.658703,10681.390001,10017.895336,9349.731587,10807.470744,10012.193837,...,10677.932573,9996.907395,9355.705156,10742.274410,9998.632389,9233.831646,10764.666306,10001.499873,9669.158435,10397.017602
2,10055.549000,8985.219714,10913.457697,10027.657483,8908.419365,11308.595514,9999.890502,9174.109763,11198.512347,10024.253188,...,10909.484636,9996.985948,9209.714171,10909.999168,10047.763188,9031.206637,11124.259020,10003.841393,9531.766341,10496.526992
3,10039.221887,8876.086628,11504.591853,10089.167160,8897.833992,11369.312706,10002.486843,9074.084335,11525.178633,10027.404115,...,11380.004330,10042.707841,8840.583263,11388.758179,10007.730379,8838.606919,11245.365652,9992.453370,9523.823376,10639.081510
4,10046.854883,8804.436018,11457.487299,10081.100076,8745.548023,11668.427590,10014.387864,8766.020533,11566.574822,10048.282425,...,11721.638952,10020.845658,8617.984191,11937.898107,10023.249448,8980.159463,11375.958193,10000.169660,9360.250821,10759.074741